<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.1525" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("9", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""}); }, 0); });
 } 
 JotForm.setCalendar("9", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":""});
      FormTranslation.init({"detectUserLanguage":"1","firstPageOnly":"0","options":"Indonesian","originalLanguage":"id","primaryLanguage":"id","saveUserLanguage":"1","showStatus":"flag-with-nation","theme":"light-theme","version":"2"});
    /*INIT-END*/
});

   JotForm.prepareCalculationsOnTheFly([null,{"qid":"1","text":"Nama","type":"control_textbox"},null,null,null,{"name":"5","qid":"5","text":"Lama Sewa","type":"control_textbox"},null,{"name":"7","qid":"7","text":"Pesan Jika ada","type":"control_textarea"},null,{"name":"date","qid":"9","text":"Tanggal Sewa","type":"control_datetime"},{"name":"phoneNumber","qid":"10","text":"Nomor HP","type":"control_phone"},{"name":"typeA","qid":"11","text":"Jenis Mobil","type":"control_radio"},{"name":"formulirSewa","qid":"12","text":"Formulir Sewa Mobil","type":"control_head"},{"name":"submit","qid":"13","text":"Order","type":"control_button"},{"name":"email","qid":"14","text":"Email","type":"control_email"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"qid":"1","text":"Nama","type":"control_textbox"},null,null,null,{"name":"5","qid":"5","text":"Lama Sewa","type":"control_textbox"},null,{"name":"7","qid":"7","text":"Pesan Jika ada","type":"control_textarea"},null,{"name":"date","qid":"9","text":"Tanggal Sewa","type":"control_datetime"},{"name":"phoneNumber","qid":"10","text":"Nomor HP","type":"control_phone"},{"name":"typeA","qid":"11","text":"Jenis Mobil","type":"control_radio"},{"name":"formulirSewa","qid":"12","text":"Formulir Sewa Mobil","type":"control_head"},{"name":"submit","qid":"13","text":"Order","type":"control_button"},{"name":"email","qid":"14","text":"Email","type":"control_email"}]);}, 20); 
</script>