
        <div class="container">
            
            <div class="row">
                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/New-Isuzu-ELF-Long.jpg" class="img-responsive center-block" alt="New Isuzu ELF Long">
                            <h3>New Isuzu ELF Long</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp1,000,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 15 – 17 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/New-Isuzu-ELF-Short.jpg" class="img-responsive center-block" alt="New Isuzu ELF Short">
                            <h3>New Isuzu ELF Short</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp900,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2012</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 8 – 10 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Toyota-Hiace.jpg" class="img-responsive center-block" alt="New Toyota Hiace">
                            <h3>New Toyota Hiace</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp1,050,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 8 – 14 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Toyota-New-Avanza.jpg" class="img-responsive center-block" alt="Toyota New Avanza">
                            <h3>Toyota New Avanza</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp350,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 6 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Toyota-Grand-Innova.jpg" class="img-responsive center-block" alt="Toyota Grand Innova">
                            <h3>Toyota Grand Innova</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp475,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2014</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Suzuki-Ertiga.jpg" class="img-responsive center-block" alt="Suzuki Ertiga">
                            <h3>Suzuki Ertiga</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp350,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Mitsubishi-Pajero.jpg" class="img-responsive center-block" alt="Mitsubishi Pajero">
                            <h3>Mitsubishi Pajero</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp CALL US</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : - </li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/Toyota-Alphard.jpg" class="img-responsive center-block" alt="Toyota Alphard / Vellfire">
                            <h3>Toyota Alphard / Vellfire</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp2,500,000</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM + Parkir + Makan Supir</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2014</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : - </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                
                <!-- item -->
                <div class="col-md-6 col-sm-6 col-xs-6 text-center ">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <img src="/img/mobil/toyota-fortuner.jpg" class="img-responsive center-block" alt="Toyota Fortuner">
                            <h3>Toyota Fortuner</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Rp CALL US</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>  Durasi : Full Day</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2014</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                            <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="#">Pesan Sekarang</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>