<div class="container">

    <div class="row">
        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/New-Isuzu-ELF-Long.jpg" class="img-responsive center-block" alt="New Isuzu ELF Long">
                <div class="btn-harga">
                    <h4>New Isuzu ELF Long</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp850,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 15 – 17 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk :  BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/New-Isuzu-ELF-Short.jpg" class="img-responsive center-block" alt="New Isuzu ELF Short">
                <div class="btn-harga">
                    <h4>New Isuzu ELF Short</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp650,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2012</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 8 – 10 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk :  BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga " href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Toyota-Hiace.jpg" class="img-responsive center-block" alt="New Toyota Hiace">
                <div class="btn-harga">
                    <h4>New Toyota Hiace</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp850,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : 8 – 14 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk :  BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Toyota-New-Avanza.jpg" class="img-responsive center-block" alt="Toyota New Avanza">
                <div class="btn-harga">
                    <h4>Toyota New Avanza</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp350,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 6 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Daihatsu-xenia.jpg" class="img-responsive center-block" alt="Daihatsu Xenia">
                <div class="btn-harga">
                    <h4>Daihatsu Xenia</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp350,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 6 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Toyota-Grand-Innova.jpg" class="img-responsive center-block" alt="Toyota Grand Innova">
                <div class="btn-harga">
                    <h4>Toyota Grand Innova</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp475,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2014</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Suzuki-Ertiga.jpg" class="img-responsive center-block" alt="Suzuki Ertiga">
                <div class="btn-harga">
                    <h4>Suzuki Ertiga</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp350,000</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : Min 2015</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : BBM + Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">
            <div class="panel panel-info panel-pricing">
                <img src="/img/mobil/Mitsubishi-Pajero.jpg" class="img-responsive center-block" alt="Mitsubishi Pajero">
                <div class="btn-harga">
                    <h4>Mitsubishi Pajero</h4>
                </div>
                <div class="panel-body text-center">
                    <h3>Rp CALL US</h3>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Durasi : Full Day</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Termasuk : Mobil + Supir + BBM</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Tahun Pembuatan : - </li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Kapasitas : Max 7 orang</li>
                    <li class="list-group-item"><i class="fa fa-close"></i> Tidak Termasuk : Parkir + Makan Supir</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-harga" href="{{ site.baseurl }}/order">Order</a>
                </div>
            </div>
        </div>
        <!-- /item -->
    </div>
</div>
</section>
