<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}
    

  </head>
  <body>


    {% include header.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/moment.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/transition.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/collapse.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/calendar/bootstrap-datetimepicker.min.js"></script>


    {{ content }}









    {% include footer.html %}
    
    </body>
</html>
